/**/
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rebeccapurple;
    text-align: center;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
}

.code {
    background-color: white;
    font-family: monospace;
    font-size: 15px;
}

#type, #universal, #attribute, #pseudo_class{
    color: mediumvioletred;
}

#class, #multi_class{
    color: lime;
}

#id{
    color: gray;
}

table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
}

table {
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: plum;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
    border-top: 1px solid darkorchid;
}